.books_container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0 0 10px #00000080;
    
}


tr {
    width: 400px;
    display: flex;
    background: #134675;
}

th, td {
    text-align: center;
    font-size: 25px;
    flex-grow: 1;
}

th {
    padding: 15px;
    background: #438bcf;
    
}

td {
    padding: 5px;
    
    cursor: pointer;
    
}

tr:nth-child(even) {
    background: #175b9b;
}