

tr {
    width: 400px;
    display: flex;
    background: #134675;
}

th, td {
    text-align: center;
    font-size: 25px;
    flex-grow: 1;
}

th {
    padding: 15px;
    background: #438bcf;
    
}

td {
    padding: 5px;
    
    cursor: pointer;
    
}

tr:nth-child(even) {
    background: #175b9b;
}